@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo-img {
  width: 230px;
}

.navbar {
  padding: 15px 80px;
  border-bottom: 1px solid #000000;
}

.navbar .navbar-collapse .navbar-nav .nav-item {
  margin-right: 30px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

.sun-icon {
  width: 30px;
}

#contact {
  background: #000000;
  color: #ffff;
  border-radius: 5px;
  width: 100%;
}

/* service navbar */
/* .dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  left: -800px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
  width: 1291px;
  padding: 30px 40px;
} */
.dropdown-menu {
  left: -754px;
  width: 1262px;
  padding: 20px;
  border: none;
  border-bottom: 1px solid #000;
}

.digital {
  padding: 20px;
  width: 100%;
  height: 120px;
  border-radius: 20px;
  border: 1px solid #000000;
  margin-bottom: 10px;
}

.design1 {
  font-size: 20px;
  color: #000000;
  font-weight: 600;
  text-align: justify;
  font-family: "Poppins", sans-serif;
}

.iocn-arr{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pack {
  font-size: 14px;
  color: #000000;
  text-align: justify;
  font-family: "Poppins", sans-serif;
  margin-left: 15px;
}

.submenu {
  text-decoration: none;
}
.submenu:hover {
  text-decoration: none;
}

.green {
  background: #ffddef;
}

.yellow {
  background: #fef0d5;
}

.purpul {
  background: #cee6fc;
}
.red {
  background: #fccfd0;
}
/* service navbar */

/* body */
.banner {
  width: 100%;
}

.clientlogo {
  width: 180px;
  height: 80px;
  margin: auto;
  padding: 0 20px;
}

.client-slider {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.silder-client{
  padding: 0 30px;
}

.content1 {
  font-size: 50px;
  font-weight: 600;
  margin-top: 30px;
  padding: 40px 10px;
  /* margin-bottom: 30px; */
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.3;
}

.floatingelement {
  /* width: 1255px;
  height: 553px; */
  width: 100%;
}

.brand {
  padding: 80px 0;
  background: #000000;
  line-height: 1.5;
}

.jour {
  font-size: 35px;
  color: #ffff;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.design {
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.communication {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  line-height: 1.3;
}

.sus {
  font-size: 40px;
  text-align: justify;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.card-img {
  padding: 50px 0;
  margin: auto;
}

.card1 {
  background: url(../public/images/entity.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  box-shadow: 0px 13px 31px -2px rgba(0, 0, 0, 0.15);
}

.card-head1 {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  padding-top: 20px;
}
.card-para1 {
  padding: 15px;
  margin-top: 5px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}
.card2 {
  background: url(../public/images/kvpapp.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  box-shadow: 0px 13px 31px -2px rgba(0, 0, 0, 0.15);
}

.card-head2 {
  color: #000;
  font-size: 24px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  padding-top: 20px;
}

.col-md-4 {
  margin-bottom: 20px;
}

.card-para2 {
  padding: 15px;
  margin-top: 5px;
  color: #000;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}
.card3 {
  background: url(../public/images/Eicher.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  box-shadow: 0px 13px 31px -2px rgba(0, 0, 0, 0.15);
}

.card-head3 {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  padding-top: 20px;
}

.project {
  line-height: 2;
  padding: 30px 0;
  text-align: center;
}

.num {
  color: #ed1c24;
  font-size: 40px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.deli {
  color: #000000;
  font-size: 40px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.count {
  color: #000000;
  font-size: 26px;
  /* font-weight: 600; */
  /* font-family: "Poppins", sans-serif; */
}

.map-gif {
  width: 100%;
}

.details1 {
  font-size: 28px;
  color: #000000;
  font-weight: 600;
  position: relative;
  padding: 10px;
}
.details1::before {
  position: absolute;
  content: "";
  width: 47%;
  height: 2px;
  background: #ed1c24;
  bottom: -10px;
}

.details2 {
  font-size: 28px;
  color: #000000;
  font-weight: 600;
  padding: 10px;
}

/* testmonial */

#carouselExampleIndicators {
  border: 1px solid #000000;
  border-radius: 20px;
  padding: 40px;
  margin-bottom: 90px;
  margin-top: 90px;
}

.cir {
  width: 15px;
  height: 15px;
  background: #ff0000;
  border: 1px solid #000000;
  border-radius: 50%;
  margin-right: 5px;
}

.square {
  width: 200px;
  height: 80px;
}

.fa-star {
  color: #ed1c24;
  margin-right: 5px;
}

.say {
  color: #ed1c24;
  font-size: 24px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  text-align: justify;
  margin-bottom: 15px;
}

.founder {
  color: #000000;
  font-size: 18px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  text-align: justify;
  margin-bottom: 15px;
}

.circle,
.star {
  margin-left: 2px;
  margin-bottom: 25px;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  background: rgba(237, 28, 36, 0.36);
  border-radius: 50%;
}

.carousel-indicators .active {
  background: #ed1c24;
}

.image-square {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-chevron-left,
.fa-chevron-right {
  color: #000000;
  font-size: 30px;
}

/* testmonial */

/* Faq */
.faq {
  width: 100%;
}

.faq .section-title {
  margin-bottom: 54px;
}

.faq .section-title h2 {
  margin-bottom: 22px;
}

.faq .accordion .card {
  border: none;
  margin-bottom: 45px;
}

.faq .accordion .card:not(:first-of-type) .card-header:first-child {
  border-radius: 10px;
}

.faq .accordion .card .card-header {
  border: none;
  border-radius: 10px;
  padding: 0;
  margin-bottom: 30px;
}

.faq .accordion .card .card-header h5 {
  padding: 0;
}

.faq .accordion .card .card-header h5 button {
  color: #023118;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  padding: 0 30px 0 70px;
  /* height: 80px; */
  display: block;
  width: 100%;
  /* color: rgba(30, 48, 86, 0.8); */
  text-align: left;
  background: #fff;
  font-family: "Poppins", sans-serif;
  /* -webkit-box-shadow: 0px -50px 140px 0px rgba(69, 81, 100, 0.1);
  box-shadow: 0px -50px 140px 0px rgba(69, 81, 100, 0.1); */
  /* border-radius: 10px 10px 0 0; */
  position: relative;
}

.faq .accordion .card .card-header h5 button:after {
  position: absolute;
  left: 30px;
  top: 50%;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  /* background-color: #159c4a; */
  color: #000;
  text-align: center;
  /* border: 1px solid #159c4a; */
  border-radius: 5px;
  line-height: 100%;
  content: "+";
  font-size: 40px;
  line-height: 18px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.faq .accordion .card .card-header h5 button.collapsed {
  background: #fff;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 2px solid #ed1c24;
}

.faq .accordion .card .card-header h5 button[aria-expanded="true"]:after {
  content: "-";
  color: #000;
  /* background: #159c4a; */
}

.faq .accordion .card .card-body {
  /* -webkit-box-shadow: 0px 15px 140px 0px rgb(69 81 100 / 10%); */
  /* box-shadow: 0px 15px 140px 0px rgb(69 81 100 / 10%); */
  border-radius: 0 0 10px 10px;
  padding-top: 0;
  margin-top: -6px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 23px;
  color: #5c6861;
  line-height: 30px;
  font-size: 14px;
  text-align: justify;
}

.faq-overall {
  margin: 100px 0;
}

/* Faq */

/* body */

/* footer  */

.footer-logo {
  /* width: 231px;
  height: 192px; */
  width: 40%;
  margin-bottom: 15px;
}

.fa-copyright {
  margin-right: 5px;
}

.social-link {
  width: 25px;
  margin-right: 5px;
}

.copyright {
  margin-top: 10px;
}

.social-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: #ffff;
  padding: 60px 0;
}

.footer-link {
  color: #000000;
  padding: 10px 0;
}
.footer-link:hover {
  color: #000000;
  text-decoration: none;
}

.footerlink {
  padding: 10px 0;
  line-height: 1;
  letter-spacing: 1px;
}

.link-head {
  font-size: 24px;
  color: #000000;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  text-align: justify;
}

.Links {
  list-style-type: none;
  text-align: justify;
  padding: 0px;
}

.footericon {
  width: 20px;
}

.contact-link {
  list-style-type: none;
  text-align: justify;
  padding: 0px;
}

.contact-details {
  padding: 10px 0;
  line-height: 1.5;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
}

.add {
  margin-bottom: 0;
  margin-left: 10px;
  color: #000000;
}
.add:hover {
  text-decoration: none;
  color: #000000;
}

.circle-desi{
  width: 30px;
  height: 30px;
  background: #ff0000;
  border: 1px solid #000000;
  border-radius: 50%;
  display: block;
}

.desi{
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  text-align: justify;
  margin-left: 10px;
  font-size: 40px;
  /* margin-top: 5px; */
}

.dashed{
  border: 1px dashed #000000;
  border-radius: 50%;
  padding: 10px;
}

.de{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

/* footer  */

@media only screen and (max-width: 500px) {
  .logo-img {
    width: 150px;
  }
  .navbar {
    padding: 10px 4px;
  }
  .clientlogo {
    width: 90px;
    height: 30px;
  }
  .content1 {
    font-size: 16px;
    padding: 20px 13px;
  }

  .sus {
    font-size: 15px;
  }

  .card-head1 {
    /* padding-top: 80px; */
    font-size: 20px;
  }
  .card-para1 {
    font-size: 13px;
  }
  .card-para2 {
    font-size: 13px;
  }
  .card-head3 {
    /* padding-top: 80px; */
    font-size: 20px;
  }
  .design {
    font-size: 14px;
  }
  .faq .accordion .card .card-header h5 button {
    font-size: 14px;
  }
  .dropdown-menu {
    width: 315px;
  }
}
